<!-- Portfolio Modals -->
{% for person in site.team %}
<div class="portfolio-modal modal fade" id="person{{ forloop.index }}" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="modal-body">
              <!-- person Details Go Here -->
              <div class="d-flex justify-content-center">
                <p class="item-intro text-muted text-justify">{{ person.name }}</p>
              </div>
              <img class="img-fluid d-block mx-auto" style="max-height: 300px; max-width: 300px;"
                src="{{ person.image }}" alt="{{ person.alt }}">
              <div class="text-justify mt-5 mb-2">
                <a href="{{ person.personalPage }}" target="_blank">Personal Page</a>
              </div>
              <div class="text-justify">
                {{ person.content }}
              </div>

              <button class="btn btn-primary" data-dismiss="modal" type="button">
                <i class="fas fa-times"></i>
                {{ site.data.sitetext.team.closebutton | default: "Close About" }}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
<!-- End Portfolio Modals -->