<!-- Publications Grid -->
<section class="bg-white page-section" id="{{ site.data.sitetext.projects.section | default: 'portfolio' }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">
          {{ site.data.sitetext.projects.title | markdownify | default: "Projects" }}
        </h2>

        <h3 class="section-subheading text-muted">{{ site.data.sitetext.projects.text | markdownify }}</h3>
      </div>
    </div>

    <div class="row">
      <select class="form-control col-lg-4 col-md-6 col-sm-12 mb-2" id="startProject" onchange="filterList()">
        <option selected value="all">Ano de Início - Todos os anos</option>
      </select>

      <select class="form-control align-items-center col-lg-4 col-md-6-sm-12 mb-2" id="finalProject"
        onchange="filterList()">
        <option selected value="all">Ano de Término - Todos os anos</option>
        <option selected value="nFinished">Ano de Término - Não finalizado</option>
      </select>

      <select class="form-control col-lg-4 col-md-12 col-sm-12 mb-2" id="projectTeachers" onchange="filterList()">
        <option selected value="all">Todos os professores</option>
        {% for person in site.team %}
        <option value="{{ person.name }}">{{ person.name }}</option>
        {% endfor %}
      </select>
    </div>

    <ul id="listProjects" class="row">
      {% for project in site.projects %}
      <li style="list-style: none;">
        <text hidden>{{ project.name }}</text>
        <text hidden>{{ project.start }}</text>
        <text hidden>{{ project.final }}</text>

        <div class="col-12">
          <a class="portfolio-link" data-toggle="modal" href="#project{{ forloop.index }}">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">

                <div class="row align-items-center my-4">
                  <div class="col-2">
                    <i class="{{ site.data.style.portfolio-icon | default: ' fas fa-plus fa-3x' }}"></i>
                  </div>
                  <div class="col-10">
                    <p class="text-justify text-muted">{{ project.caption.title }}</p>
                    <p class="text-justify text-muted">{{ project.caption.subtitle }}</p>
                  </div>
                </div>

              </div>
            </div>
          </a>
      </li>
      {% endfor %}
    </ul>
  </div>
  </div>
</section>

<script>
  const minYear = parseInt("{{ site.data.sitetext.projects.minYear }}");
  const maxYear = (new Date()).getFullYear();
  const startProject = document.getElementById("startProject");
  const finalProject = document.getElementById("finalProject");


  for (let i = minYear; i <= maxYear; i++) {
    let optionS = document.createElement("option");
    optionS.innerHTML = `Ano de início - ${i}`;
    optionS.value = i;

    let optionF = document.createElement("option");
    optionF.innerHTML = `Ano de término - ${i}`;
    optionF.value = i;

    startProject.appendChild(optionS);
    finalProject.appendChild(optionF);
  }

  // let elements = document.getElementById("listProjects").getElementsByTagName("li");
  // console.log(elements.length, "testeste");

  // elements = elements.sort((elementA, elementB) => {

  //   let startA = elementsA.getElementsByTagName("text")[1];
  //   startA = startA.textContent || startA.innerText;
  //   startA = parseInt(startA);

  //   let starB = elementsB.getElementsByTagName("text")[1];
  //   startB = startB.textContent || start.innerText;
  //   startB = parseInt(start);

  //   console.log(startA, startB, "testefinal");
  //   return startA - startB;
  // });


  function filterList() {
    // Declare variables
    const startValue = document.getElementById("startProject").value;
    const finalValue = document.getElementById("finalProject").value;
    const teachersValue = document.getElementById("projectTeachers").value;

    const elements = document.getElementById("listProjects").getElementsByTagName("li");
    for (i = 0; i < elements.length; i++) {

      let name = elements[i].getElementsByTagName("text")[0];
      name = name.textContent || name.innerText;

      let start = elements[i].getElementsByTagName("text")[1];
      start = start.textContent || start.innerText;
      start = parseInt(start);

      let final = elements[i].getElementsByTagName("text")[2];
      final = final.textContent || final.innerText;
      final = parseInt(final);

      if ((startValue === "all" || start >= startValue) &&
        (finalValue === "all" || !!!final && finalValue === "nFinished" || !!final && final <= finalValue)
        && (teachersValue === "all" || teachersValue === name)) {
        elements[i].style.display = "";
      } else {
        elements[i].style.display = "none";
      }
    }
  }
</script>
{% include modal_projects.html %}