<!-- Team -->
<section class="bg-white page-section" id="{{ site.data.sitetext.team.section | default: 'team' }}">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading text-uppercase">{{ site.data.sitetext.team.title }}</h2>
				<h3 class="section-subheading text-muted">{{ site.data.sitetext.team.text }}</h3>
			</div>
		</div>
		<div class="row justify-content-center">
			{% for person in site.team %}
			<div class="col-sm-12 col-md-6 col-lg-3 portfolio-item">
				<div class="team-member">
					<a class="portfolio-link" data-toggle="modal" href="#person{{ forloop.index }}">
						<div class="portfolio-hover" style=" width: 225px; height: 225px; margin-left: 15px;">
							<div class="portfolio-hover-content">
								<i class="{{ site.data.style.portfolio-icon | default: 'fas fa-plus fa-3x' }}"></i>
							</div>
						</div>
						<img class="mx-auto rounded-circle" src="{{ person.image }}" alt="">
					</a>

					<h4>{{ person.name }}</h4>
					<p class="text-muted">{{ person.role }}</p>
					<ul class="list-inline social-buttons">
						{% for network in person.social %}
						<li class="list-inline-item">
							<a href="{{ network.url }}">
								<i class="{{ network.icon }}"></i>
							</a>
						</li>
						{% endfor %}
					</ul>
				</div>
			</div>
			{% endfor %}
		</div>
		<div class="row">
			<div class="col-lg-8 mx-auto text-center">
				<div class="large text-muted">{{ site.data.sitetext.team.subtext | markdownify }}</div>
			</div>
		</div>
	</div>
</section>
{% include modal_team.html %}
<!-- End Team -->